.product-view-container
{
    background-image: radial-gradient( circle 848px at 10% 20%,  rgba(234, 240, 233, 0.9) 0%, rgb(181, 232, 123) 90% );
    width: 90%;
    height: 400px;
    margin: 30px;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    display: flex;
    
}
.product-img
{
    width: 600px;
}
.product-info
{
    margin-top: 10px;
    padding:10px;
    font-size: 20px;
}
.price-container
{
    position: absolute;
    right: 400px;
}
